.row {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}
.row:after, .row:before {
  content: " ";
  display: table;
}
.button {
  height: 52px;
  overflow: hidden;
  font-family: "Eir Medium",sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 48px;
  color: #fff;
  text-decoration: none;
  background: #00a0bd;
  border: 2px solid #00a0bd;
  border-radius: 4px;
  -webkit-transition: color 250ms ease-in-out,background-color 250ms ease-in-out,border-color 250ms ease-in-out;
  transition: color 250ms ease-in-out,background-color 250ms ease-in-out,border-color 250ms ease-in-out;
}
.button.alt, .button:active, .button:hover {
  color: #fff;
  background: #005670;
  border: 2px solid #005670;
}
.button.button-block {
  display: block;
  width: 100%;
  text-align: center;
}
.m-b-15 {
  margin-bottom: 15px;
}
.button.button-block {
  display: block;
  width: 100%;
  text-align: center;
}
.webmail-login__container {
  background: url('/wm/dist/images/bg_eir_white_0.38_opacity.png') center center no-repeat #00a0bd;
    border-radius: 6px;
    width:50%;
    margin:0 auto;
    min-height: 340px;
    padding: 20px;
    position:relative;
    top:50px;
 }
.webmail-login__container h2 {
      text-align: center;
      color:#fff;
}
.webmail-login__container button {
  background: #8b00ee;
  float: right;
  height: 48px;
  color: #fff;
  padding: 0 20px;
  border: 0;
  font-size: 18px;
  cursor:pointer;
}
.webmail-login__container .webmail-login__text-input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ececec;
  padding: 6px 4px;
  height: 34px;
  margin: 5px 0;
}
.login-page-links {
  width:32%;
  margin:0 auto;
  padding:10px 0;
}
.login-page-link, .login-page-link, .login-page-link:active, .login-page-link:visited {
  color:#fff;
  display:block;
  text-align: left;
  text-decoration: none;
  cursor:pointer;

}