
    @font-face {
        font-family: GT-Walsheim-Regular;
        src: url('/wm/dist/images/GT-Walsheim-Regular.woff')  format('woff');
    }
    body {
        margin:0;
        font-family: GT-Walsheim-Regular,Arial;
}
.wrapper {
    /*
        padding-left: 10px;
        padding-right: 10px;
        */
        width: 100%;
        display: block;
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
}
.row {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}
.footer {
    position: absolute;
    text-align: center;
    bottom:0;
    width: 100%;
    margin: 0 auto;
}
.errorMessage {
    color:red;
    height:20px;
}
.offerDisplayArea {
    height:200px;
    border: 1px solid black;
    width: 60%;
}
.offerDiv{
    margin-left: 20%;
}
.tandc {
    text-decoration: underline;
    -webkit-transition: color 250ms ease-in-out;
    transition: color 250ms ease-in-out;
    color: #0cc;
}