.row:after, .row:before {
    content: " ";
    display: table;
}
.eir-nav__wrapper {
    overflow: visible;

} 
.eir-nav__wholesale-tertiary {

}
.eir-nav__wholesale-tertiary .eir-nav__logo  {

    background: url('/wm/dist/images/eir_logo_pink.png') no-repeat;
    background-size: cover;
    left: 12%;
    top: 10%;
}
.eir-nav__logo {
    position: absolute;
    z-index: 2;
    margin-top: 25px;
    margin-left: 12.5px;
    width: 140px;
    height: 93px;
}
.eir-nav__stickynav-wrapper {
    background: #F4F5F9;
    line-height: .9375rem;
}
.row.eir-nav__stickynav-row {
    margin-top: 10px;
}

.eir-nav__stickynav ul {
    margin: 3px;
}
.eir-nav__wrapper ul li {
    list-style-type: none;
    display: inline;
}
.eir-nav__stickynav ul li a {
    font-family: GT-Walsheim-Regular,Arial;
    color: #000;
}
.eir-nav__wrapper ul li a {
    text-decoration: none!important;
    margin-left: 7.5px;
    font-size: 14px;
    font-size: .875rem;
}
.eir-nav__left {
    float: left;
}
.eir-nav__left {
    
}
.eir-nav__midnav-wrapper {

}
.eir-nav__midnav {

}
.eir-nav-links {

}
.eir-mob-toggle-slide {

}
.eir-mob-toggle-slide {

}
.eir-nav__midnav, .eir-nav__stickynav, .eir-nav__subnav {
    text-align: right;
    border: none;
    white-space: nowrap;
}

